.span-spacing {
    padding: 5px;
    color: white;
}

.home-container {
    display: flex;
    background-color: gray;
    height: 600px;
}

.input-container {
    padding-left: 20px;
}

.form-name-to-input {
    display: flex;
}

.grid-container {
    display: inline-grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    width:50%;
    grid-gap: 10px;
    padding: 10px;
}