<div class="home-container">
    <div class="grid-container">
        <div
            *ngFor="let person of people"
            class="grid-item"
        >
            <div class="span-spacing">First Name: {{person.firstName}}</div>
            <div class="span-spacing">Last Name: {{person.lastName}}</div>
            <div class="span-spacing">Favorite Color: {{person.favoriteColor}}</div>
            <button mat-raised-button (click)="openDialog(person)">Modify</button>
            <button mat-raised-button (click)="deletePerson(person)">Delete</button>
        </div>
    </div>
    <div class="input-container">
        <div>
            <h2>Add New Person:</h2>
        </div>
        <form [formGroup]="personInputForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="firstName">First Name</label>
                <input id="formFirstName" type="text" formControlName="firstName">
            </div>
            <div>
                <label for="lastName">Last Name</label>
                <input id="formLastName" type="text" formControlName="lastName">
            </div>
            <div>
                <label for="favoriteColor">Favorite Color</label>
                <input id="formFavoriteColor" type="text" formControlName="favoriteColor">
            </div>
            <button class="button" type="submit">Submit</button>
        </form>
    </div>
</div>
<router-outlet></router-outlet>
